@page
@model FytIms.Pages.OA.Person.ModifyModel
@{
    ViewData["Title"] = "修改/添加";
    Layout = "~/Pages/_Layout.cshtml";
}
<form class="layui-form form-cus form-tab" action="">
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this">基本信息</li>
            <li>联系人</li>
            <li>教育经历</li>
            <li>工作经历</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-col-xs12 layui-col-md9">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">归属公司</label>
                            <div class="layui-input-inline">
                                <select name="CompayGuid" lay-verify="required" lay-search="">
                                    <option value="59dd330c-13a5-4ef8-9e86-918e95b5b1e2">北京美亚集团</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <select name="DepartmentGuid" lay-verify="required" lay-search="">
                                    <option value="e9b04253-49a3-47bc-82e2-53d506fda641">技术部</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <select name="RoleGuid" lay-verify="required" lay-search="">
                                    <option value="2949c266-575a-4e5d-a663-e39d5f33df7e">超级管理员</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="TrueName" lay-verify="required" lay-verType="tips" maxlength="20" autocomplete="off" placeholder="请输入标题" class="layui-input" value="@Model.Person.TrueName">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">员工编号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="Codes" lay-verify="required" lay-verType="tips" maxlength="10" autocomplete="off" placeholder="请输入员工编号" class="layui-input" value="@Model.Person.Codes">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">登录账号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="LoginName" lay-verify="required" lay-verType="tips" value="@Model.Person.LoginName" maxlength="20" autocomplete="off" placeholder="请输入登录账号" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">登录密码</label>
                            <div class="layui-input-inline">
                                <input type="password" id="LoginPwd" name="LoginPwd" lay-verify="pass" lay-verType="tips" maxlength="26" autocomplete="off" placeholder="请输入登录密码" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">登录状态</label>
                            <div class="layui-input-inline">
                                <input type="checkbox" @(Model.Person.LoginStatus ? "checked" : "") name="LoginStr" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">在职状态</label>
                            <div class="layui-input-inline">
                                <input type="checkbox" @(Model.Person.PostStatus ? "checked" : "") name="PostStr" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">办公电话</label>
                            <div class="layui-input-inline">
                                <input type="text" name="WorkTel" autocomplete="off" value="@Model.Person.WorkTel" placeholder="非必填项" maxlength="20" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">性别</label>
                            <div class="layui-input-inline">
                                @foreach (var item in Model.codeList.Where(m => m.parentguid == "59dd330c-13a5-4ef8-9e86-918e95b5b1e2"))
                                {
                                    <input type="radio" name="Sex" value="@item.name" title="@item.name" @(item.name == Model.Person.Sex ? "checked=checked" : "")>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">手机号码</label>
                            <div class="layui-input-inline">
                                <input type="text" name="Mobile" lay-verify="required|phone" value="@Model.Person.Mobile" lay-verType="tips" maxlength="11" autocomplete="off" placeholder="请输入手机号码" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">邮箱</label>
                            <div class="layui-input-inline">
                                <input type="email" name="Email" lay-verify="email" value="@Model.Person.Email" lay-verType="tips" maxlength="30" autocomplete="off" placeholder="请输入邮箱" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">QQ</label>
                            <div class="layui-input-inline">
                                <input type="number" name="QQ" autocomplete="off" value="@Model.Person.QQ" placeholder="非必填项" maxlength="15" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">微信</label>
                            <div class="layui-input-inline">
                                <input type="email" name="WebXin" autocomplete="off" value="@Model.Person.WebXin" maxlength="30" placeholder="非必填项" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">语言能力</label>
                        <div class="layui-input-block">
                            @foreach (var item in Model.codeList.Where(m => m.parentguid == "d14fb7c9-e867-467e-94fa-9f1a94692b88"))
                            {
                                if (!string.IsNullOrEmpty(Model.Person.LanguageSkills))
                                {
                                    <input type="checkbox" name="LanguageSkillsStr[]" lay-skin="primary" value="@item.name" title="@item.name" @(Model.Person.LanguageSkills.Contains(item.name) ? "checked=checked" : "")>
                                }
                                else
                                {
                                    <input type="checkbox" name="LanguageSkillsStr[]" lay-skin="primary" value="@item.name" title="@item.name">
                                }
                            }
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">身份证号码</label>
                            <div class="layui-input-inline">
                                <input type="text" name="IDCard" autocomplete="off" value="@Model.Person.IDCard" placeholder="非必填项" maxlength="40" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">生日</label>
                            <div class="layui-input-inline">
                                <input type="text" id="Birthday" name="Birthday" value="@Model.Person.Birthday" lay-verify="required" maxlength="20" lay-verType="tips" autocomplete="off" placeholder="请选择生日" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">籍贯</label>
                            <div class="layui-input-inline">
                                <input type="text" id="NativePlaceCity" name="NativePlaceCity" autocomplete="off" maxlength="50" placeholder="非必填项" class="layui-input" value="@Model.Person.NativePlaceCity">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">户口所在地</label>
                            <div class="layui-input-inline">
                                <input type="text" id="AccountCity" name="AccountCity" autocomplete="off" placeholder="非必填项" maxlength="60" class="layui-input" value="@Model.Person.AccountCity">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">居住地址</label>
                            <div class="layui-input-inline">
                                <input type="text" id="LiveCity" name="LiveCity" autocomplete="off" placeholder="非必填项" maxlength="60" class="layui-input" value="@Model.Person.LiveCity">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">政治面貌</label>
                            <div class="layui-input-inline">
                                <select name="PoliticalStatus" lay-verify="required" lay-search="">
                                    @foreach (var item in Model.codeList.Where(m => m.parentguid == "21576fef-1a5b-4af8-a394-ec5166b4a8e4"))
                                    {
                                        if (Model.Person.PoliticalStatus == item.name)
                                        {
                                            <option value="@item.name" selected="selected">@item.name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.name">@item.name</option>

                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">民族</label>
                            <div class="layui-input-inline">
                                <select name="Ethnic" lay-verify="required" lay-search="">
                                    @foreach (var item in Model.codeList.Where(m => m.parentguid == "e9b04253-49a3-47bc-82e2-53d506fda641"))
                                    {
                                        if (Model.Person.PoliticalStatus == item.name)
                                        {
                                            <option value="@item.name" selected="selected">@item.name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.name">@item.name</option>

                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">信仰</label>
                            <div class="layui-input-inline">
                                <select name="Faith" lay-search="">
                                    @foreach (var item in Model.codeList.Where(m => m.parentguid == "36eefb08-1a44-4989-b4dc-e7be65e32349"))
                                    {
                                        if (Model.Person.Faith == item.name)
                                        {
                                            <option value="@item.name" selected="selected">@item.name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.name">@item.name</option>

                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">婚姻</label>
                            <div class="layui-input-inline">
                                <select name="Marriage" lay-verify="required" lay-search="">
                                    @foreach (var item in Model.codeList.Where(m => m.parentguid == "2128dd06-6414-44e4-ae83-502f58d886d2"))
                                    {
                                        if (Model.Person.Marriage == item.name)
                                        {
                                            <option value="@item.name" selected="selected">@item.name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.name">@item.name</option>

                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">学历</label>
                            <div class="layui-input-inline">
                                <select name="Education" lay-search="">
                                    @foreach (var item in Model.codeList.Where(m => m.parentguid == "b3767d9d-2ecc-48c5-b56d-d9af628c0c63"))
                                    {
                                        if (Model.Person.Education == item.name)
                                        {
                                            <option value="@item.name" selected="selected">@item.name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.name">@item.name</option>

                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-md3 layui-form-pane addpic-list">
                    <div class="text">头像</div>
                    <ul>
                        <li>
                            <div class="add-photo default">
                                <input class="imgv" id="HeadPic" name="HeadPic" type="hidden" value="@Model.Person.HeadPic">
                                <img src="@(!string.IsNullOrEmpty(Model.Person.HeadPic)?Model.Person.HeadPic:"/themes/img/headpic.png")" id="userHead" />
                                <div class="select-newimg" id="selA">
                                    <i class="icon-addphote"></i>
                                    <span>选择图片</span>
                                </div>

                            </div>
                        </li>
                    </ul>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">个人爱好</label>
                        <div class="layui-input-block">
                            <textarea name="Hobbies" placeholder="描述下个人爱好" maxlength="200" class="layui-textarea">@Html.Raw(Model.Person.Hobbies)</textarea>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">特长</label>
                        <div class="layui-input-block">
                            <textarea name="Specialty" placeholder="描述下个人特长" maxlength="200" class="layui-textarea">@Html.Raw(Model.Person.Specialty)</textarea>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary btn-back">返回</button>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">
                <table class="layui-hide" id="tabuslist" lay-filter="ustool"></table>
                <div class="add-icons" data-type="us"><i class="icon-addphote"></i>  添加联系人</div>
            </div>
            <div class="layui-tab-item">
                <table class="layui-hide" id="tabeducate" lay-filter="educatetool"></table>
                <div class="add-icons" data-type="educate"><i class="icon-addphote"></i>  添加教育经历</div>
            </div>
            <div class="layui-tab-item">
                <table class="layui-hide" id="tabwork" lay-filter="worktool"></table>
                <div class="add-icons" data-type="work"><i class="icon-addphote"></i>  添加工作经历</div>
            </div>
        </div>
    </div>
    <input id="guid" name="Guid" type="hidden" value="@Model.Person.Guid" />
    <input name="LoginOldPwd" type="hidden" value="@Model.Person.LoginPwd" />
</form>
<script type="text/html" id="switchTpl">
    <input type="checkbox" name="IsUrgent" value="{{d.guid}}" lay-skin="switch" lay-text="ON|OFF" {{ d.isUrgent?'checked':''}}>
</script>
@section Scripts{
    <script>
        var $city = $('#NativePlaceCity,#AccountCity,#LiveCity');
        $city.citypicker({
            province: '',
            city: '',
            district: ''
        });
        layui.use(['form', 'element', 'laydate', 'table','upload'],function () {
                var form = layui.form,
                    layer = layui.layer,
                    element = layui.element,
                    table = layui.table,
                    laydate = layui.laydate,
                    upload = layui.upload;

                /*laydate.render({
                    elem: '#Birthday'
                });*/

                if ($("#guid").val()) {
                    $("#LoginPwd").val("111111");
                }
                upload.render({
                    elem: '#selA'
                    , url: '/api/fileup/upheadpic'
                    , accept: 'images'
                    , size: 200
                    , before: function (obj) {

                    }
                    , done: function (res) {
                        //如果上传失败
                        if (res.statusCode != 200) {
                            return os.toastr('error', '上传失败');;
                        }
                        //上传成功
                        $("#userHead").attr('src', res.data);
                        $("#HeadPic").val(res.data);
                    }
                    , error: function () {
                        os.toastr('error','上传发生错误，请重试');
                    }
                });

                //自定义验证规则
                form.verify({
                    pass: [/(.+){6,12}$/, '密码必须6到12位']
                });

                //监听提交
                form.on('submit(submit)', function (data) {
                    var isOption = $("#guid").val(), urls = "api/person/add";
                    if (isOption) {
                        urls = "api/person/edit"
                    }
                    os.ajax(urls, data.field, function (res) {
                        if (res.statusCode === 200) {
                            $("#guid").val(res.data);
                            os.toastr('ok', '保存成功~');
                        } else {
                            os.toastr('error', res.message);
                        }
                    });
                    return false;
                });

                $(".add-icons").click(function () {
                    var type = $(this).data('type');
                    var guid = $("#guid").val();
                    if (!guid) {
                        os.toastr('warning','请先保存基本信息~');
                        return;
                    }
                    switch (type) {
                        case "us":
                            os.Open('添加联系人信息', '/oa/person/modifycontact/?guid=' + guid, '600px', '350px', function () {
                                table.reload('tabus');
                            });
                            break;
                        case "educate":
                            os.Open('添加教育经历信息', '/oa/person/modifyeducate/?guid=' + guid, '600px', '400px', function () {
                                table.reload('tabeducate');
                            });
                            break;
                        case "work":
                            os.Open('添加工作经历信息', '/oa/person/modifywork/?guid=' + guid, '700px', '500px', function () {
                                table.reload('tabwork');
                            });
                            break;
                    }
                });
                /* 以下是联系人操作 */
                table.render({
                    elem: '#tabuslist',
                    url: "/api/person/getcontactpages?guid=" + $("#guid").val(),
                    cols: [
                        [
                            { field: 'name', title: '姓名', fixed: 'left' },
                            { field: 'relation', title: '联系人' },
                            { field: 'mobile', title: '联系方式' },
                            { field: 'address', title: '联系地址' },
                            { field: 'isUrgent', width: 150, title: '是否为紧急联系人', templet: '#switchTpl' },
                            { width: 120, title: '操作', fixed: 'right', toolbar: '#ustool' }
                        ]
                    ],
                    page: true,
                    id: 'tabus'
                });
                //监听工具条
                table.on('tool(ustool)', function (obj) {
                    var data = obj.data;
                    if (obj.event === 'edit') {
                        os.Open('编辑联系人信息', '/oa/person/modifycontact/?guid=' + data.guid, '600px', '350px', function () {
                            table.reload('tabus');
                        });
                    } else if (obj.event === "del") {
                        layer.confirm('确定要删除 ' + data.name + ' 吗？', function (index) {
                            layer.close(index);
                            os.ajax('api/person/delcontact/', { guid: data.guid }, function (res) {
                                if (res.statusCode === 200) {
                                    table.reload('tabus');
                                    os.toastr('ok', '删除成功！');
                                } else {
                                    os.toastr('error', res.message);
                                }
                            });
                        });
                    }
                });

                /* 以下是教育经历操作 */
                table.render({
                    elem: '#tabeducate',
                    url: "/api/person/geteducatepages?guid=" + $("#guid").val(),
                    cols: [
                        [
                            { field: 'educateType', width: 150, title: '院校类型', fixed: 'left' },
                            { field: 'admissionTime', width: 150, title: '入学时间', templet:"<span>{{DataFormat(d.admissionTime,'yyyy-MM-dd')}}</span>" },
                            { field: 'graduateTime', width: 150, title: '毕业时间', templet: "<span>{{DataFormat(d.admissionTime,'yyyy-MM-dd')}}</span>" },                            
                            { field: 'specialty', width: 200, title: '专业' },
                            { field: 'schoolName', title: '院校名称' },
                            { width: 200, title: '操作', fixed: 'right', toolbar: '#educatetool' }
                        ]
                    ],
                    page: true,
                    id: 'tabeducate'
                });
                //监听工具条
                table.on('tool(educatetool)', function (obj) {
                    var data = obj.data;
                    if (obj.event === 'edit') {
                        os.Open('添加教育经历信息', '/oa/person/modifyeducate/?guid=' + data.guid, '600px', '400px', function () {
                            table.reload('tabeducate');
                        });
                    } else if (obj.event === "del") {
                        layer.confirm('确定要删除 ' + data.educateType + ' 吗？', function (index) {
                            layer.close(index);
                            os.ajax('api/person/deleducate/', { guid: data.guid }, function (res) {
                                if (res.statusCode === 200) {
                                    table.reload('tabeducate');
                                    os.toastr('ok', '删除成功！');
                                } else {
                                    os.toastr('error', res.message);
                                }
                            });
                        });
                    }
                });

                /* 以下是工作经历操作 */
                table.render({
                    elem: '#tabwork',
                    url: "/api/person/getworkpages?guid=" + $("#guid").val(),
                    cols: [
                        [
                            { field: 'companyName', width: 200, title: '公司名称', fixed: 'left' },
                            { field: 'postName', width: 150, title: '职务' },
                            { field: 'entryTime', width: 150, title: '入职时间' },
                            { field: 'outTime', width: 150, title: '离职时间' },
                            { field: 'witness', width: 150, title: '证明人' },
                            { field: 'witnessTel', width: 150, title: '证明人联系方式' },
                            { field: 'outSummary', title: '离职原因' },
                            { width: 120, title: '操作', fixed: 'right', toolbar: '#worktool' }
                        ]
                    ],
                    page: true,
                    id: 'tabwork'
                });

                //监听工具条
                table.on('tool(worktool)', function (obj) {
                    var data = obj.data;
                    if (obj.event === 'edit') {
                        os.Open('编辑工作经历信息', '/oa/person/modifywork/?guid=' + data.guid, '700px', '500px', function () {
                            table.reload('tabwork');
                        });
                    } else if (obj.event === "del") {
                        layer.confirm('确定要删除 ' + data.PostName + ' 吗？', function (index) {
                            layer.close(index);
                            os.ajax('api/person/delwork/', { guid: data.guid }, function (res) {
                                if (res.statusCode === 200) {
                                    table.reload('tabwork');
                                    os.toastr('ok', '删除成功！');
                                } else {
                                    os.toastr('error', res.message);
                                }
                            });
                        });
                    }
                });

            });
    </script>
    <script type="text/html" id="ustool">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script type="text/html" id="educatetool">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script type="text/html" id="worktool">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="del">删除</a>
    </script>
}